@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular.woff2"),
    url(./fonts/Poppins-Regular.woff2) format("woff");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bolg.woff2"),
    url(./fonts/Poppins-Bold.woff2) format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins-Bold", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  margin: 5%;
}

button {
  background: #693db1;
  border: 2px solid #693db1;
  color: #fff;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 4px;
  margin-left: 5px;
}

button:hover {
  background: #fff;
  color: #693db1;
  border: 2px solid #693db1;
  cursor: pointer;
}
